/s280615/Task/Before/ReplaceTypeCodeWithClass/nbproject/private/
/s280615/Task/Before/ReplaceTypeCodeWithClass/build/
/s280615/Task/After/ReplaceTypeCodeWithClassRefactored/nbproject/private/
/s280615/Task/After/ReplaceTypeCodeWithClassRefactored/build/
/s280615/Task/After/JavaApplication4/nbproject/private/
/s280615/Task/After/Loan/nbproject/private/
/s280615/Task/After/policeStation/nbproject/private/
/s280615/Task/Before/ExtractCreationClass/nbproject/private/
/s280615/Task/Before/ExtractCreationclassRefactored/nbproject/private/
/s280615/Task/After/ExtractCreationclassRefactored/nbproject/private/
/s280615/Task/Before/Creation Methods and Factory Methods/nbproject/private/
/s280615/Task/Before/Creation Methods and Factory Methods/build/
/s280615/Task/Before/ReplacingConstructorwithCreationMethod/build/
/s280615/Task/Before/ReplacingConstructorwithCreationMethod/nbproject/private/
/s280615/Task/After/ReplacingconstructorwithcreationmethodRefactored/nbproject/private/
/s280615/Task/After/Replace Conditional Logic with Strategy Pattern/nbproject/private/